flows/Chatbot_Create_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Change_to_Child</name>
        <label>Change to Child</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InitialInquiringFor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Child</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incoming_Phone_Too_Long</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_to_Self</name>
        <label>Change to Self</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>InitialInquiringFor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Self</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Incoming_Phone_Too_Long</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Found_Lead_ID</name>
        <label>Store Found Lead ID</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>UseThisleadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_if_Exists.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_for_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_NEW_Lead_ID</name>
        <label>Store NEW Lead ID</label>
        <locationX>644</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>UseThisleadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_for_NEW_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Truncate_Phone</name>
        <label>Truncate Phone</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Phone_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmPhoneTruncated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>InboundChat</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Chat</stringValue>
        </value>
    </constants>
    <constants>
        <name>InitialCallOut</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Initial Call Out</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Bot sends &quot;Myself&quot; which we need to translate into just &quot;Self&quot; for the lead</description>
        <name>Check_Inquiring_For</name>
        <label>Check Inquiring For</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Incoming_Phone_Too_Long</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Myself</defaultConnectorLabel>
        <rules>
            <name>Myself</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialInquiringFor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Myself</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Self</targetReference>
            </connector>
            <label>Myself</label>
        </rules>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialInquiringFor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Child</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
    </decisions>
    <decisions>
        <description>If a matching Contact exists already within Salesforce, then just create a Task for that Contact</description>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_if_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Lead exists already within Salesforce, the lead will be updated. If the Lead does not exist, it will be created.</description>
        <name>Does_Lead_Exist</name>
        <label>Does Lead Exist?</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead does not Exist</defaultConnectorLabel>
        <rules>
            <name>Lead_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_if_Exists.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Found_Lead_ID</targetReference>
            </connector>
            <label>Lead Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the incoming phone number is too large, chop it</description>
        <name>Incoming_Phone_Too_Long</name>
        <label>Incoming Phone Too Long?</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Does_Contact_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Phone OK</defaultConnectorLabel>
        <rules>
            <name>Too_Long</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frm_IncomingPhoneLength</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Truncate_Phone</targetReference>
            </connector>
            <label>Too Long</label>
        </rules>
    </decisions>
    <description>Customized version of the Intro Bot - Create Lead
v26 - Adjust Tasks on FOUND Lead/Contact to not be marked Complete automatically
v25 -Split New Task logic for New vs Existing Leads
v24 - Adjusted Update Chat Transcript with Accurate Lead ID
v23 - switch to Virtual Assistant lead source
v22 - Removed Thrive, replace using FORM_Utm (not PI_Utm)
v20 - Trying Thrive notes for FormCampaign 
v17 - Testing new UTM Campaign field
v16 - Fixed issues with Lead Task creation
v15 - New version to split out Contact vs Lead Lookup and processing
v14 - Added Name truncation
v13 - Added phone truncation
v12 - Add logic to convert &quot;Parent&quot; to &quot;Child&quot;
v11 Push Tour info to new Web Tour Requested fields
v3 - Adding Initial Activity values
v2 - Added Community Code and LoC</description>
    <environments>Default</environments>
    <formulas>
        <name>frm_IncomingPhoneLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!Phone_Number})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Truncate incoming Company Name just in case</description>
        <name>frmLeftCompanyName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Company_Name}, 200)</expression>
    </formulas>
    <formulas>
        <name>frmLeftFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!First_Name}, 40)</expression>
    </formulas>
    <formulas>
        <description>Truncate Last Name before insert, just in case.</description>
        <name>frmLeftLastName</name>
        <dataType>String</dataType>
        <expression>LEFT( {!Last_Name},80)</expression>
    </formulas>
    <formulas>
        <description>Chop long phones to 20 characters</description>
        <name>frmPhoneTruncated</name>
        <dataType>String</dataType>
        <expression>LEFT({!Phone_Number}, 20)</expression>
    </formulas>
    <interviewLabel>Chatbot - Create Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatbot - Create Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>644</locationX>
        <locationY>1310</locationY>
        <assignRecordIdToReference>Lead_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Store_NEW_Lead_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AutoConvert__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>Community_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Source_Code__c</field>
            <value>
                <stringValue>Chatbot</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>frmLeftFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_utm_campaign__c</field>
            <value>
                <elementReference>Form_utm_campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_Lead_Source__c</field>
            <value>
                <elementReference>Internet_Lead_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>frmLeftLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Virtual Assistant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Housing_Type__c</field>
            <value>
                <elementReference>Preferred_Level_of_Care</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Prospect__c</field>
            <value>
                <elementReference>InitialInquiringFor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Form__c</field>
            <value>
                <elementReference>Community_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Requested_Tour_Date__c</field>
            <value>
                <elementReference>InitialTourDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Requested_Tour_Time_of_Day__c</field>
            <value>
                <elementReference>InitialActivityNotes</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Create a System Re-Inquiry Task for the found Contact</description>
        <name>Create_Task_for_Contact</name>
        <label>Create Task for Contact</label>
        <locationX>116</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Update_Chat_Transcript_with_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>ReInquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>Community_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_utm_campaign__c</field>
            <value>
                <elementReference>Form_utm_campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Matching_Contact.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Inquiry_Source__c</field>
            <value>
                <stringValue>Virtual Assistant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Virtual Assistant Initiated Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Matching_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a System Re-Inquiry Task for the found Lead</description>
        <name>Create_Task_for_Lead</name>
        <label>Create Task for Existing Lead</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Chat_Transcipt_with_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <stringValue>ReInquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>Community_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_utm_campaign__c</field>
            <value>
                <elementReference>Form_utm_campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Lead_if_Exists.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Inquiry_Source__c</field>
            <value>
                <stringValue>Virtual Assistant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Virtual Assistant Initiated Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Lead_if_Exists.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a System Re-Inquiry Task for the found Lead</description>
        <name>Create_Task_for_NEW_Lead</name>
        <label>Create Task for NEW Lead</label>
        <locationX>644</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Update_Chat_Transcipt_with_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <elementReference>InboundChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Community__c</field>
            <value>
                <elementReference>Community_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_utm_campaign__c</field>
            <value>
                <elementReference>Form_utm_campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Inquiry_Source__c</field>
            <value>
                <stringValue>Virtual Assistant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Code__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Virtual Assistant Initiated Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>UseThisleadID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Matching criteria used to check for the existence of a lead are a combination of First Name, Last Name, and Email Address.</description>
        <name>Get_Lead_if_Exists</name>
        <label>Get Lead if Exists</label>
        <locationX>512</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>Community__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Community_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Email</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se if there is already a Contact in this Community with the same Email Address</description>
        <name>Get_Matching_Contact</name>
        <label>Get Matching Contact</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Inquiring_For</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Community__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Community_Code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Email</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Chat_Transcipt_with_Lead</name>
        <label>Update Chat Transcript with Lead</label>
        <locationX>512</locationX>
        <locationY>1766</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>UseThisleadID</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Chat_Transcript_with_Contact</name>
        <label>Update Chat Transcript with Contact</label>
        <locationX>116</locationX>
        <locationY>1190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Routable_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Matching_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <sourceTemplate>setup_bot__IntroBotCreateLead</sourceTemplate>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Matching_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>3-character community code</description>
        <name>Community_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Form_utm_campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialActivityNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialActivitySubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Incoming Inquiring For which gets translated into Relationship to Prospect</description>
        <name>InitialInquiringFor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialTourDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Internet_Lead_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Phone_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Preferred_Level_of_Care</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Routable_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store either the FOUND Lead ID or the CREATED Lead ID</description>
        <name>UseThisleadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
