flows/Chatbot_Lookup_Community_By_Code.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Append_AL</name>
        <label>Append AL</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varOUT_LevelOfCareList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Assisted Living</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Care_Level_MC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_IL</name>
        <label>Append IL</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varOUT_LevelOfCareList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Independent Living</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Care_Level_AL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_MC</name>
        <label>Append MC</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>varOUT_LevelOfCareList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Memory Care</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Community_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Used when we cannot find a Community for some reason</description>
        <name>Generic_Community_Values</name>
        <label>Generic Community Values</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varOUT_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>520-797-4000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5,000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_CommunityLongName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Watermark Retirement Communities</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_LevelOfCareList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Independent Living</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_RateIL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5,000</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_Community_ID</name>
        <label>Store Community ID</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varCommunityID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Community.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Community_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Community_Values</name>
        <label>Store Community Values</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>varOUT_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Community.Phone_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Community.Starting_Rate_IL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_CommunityLongName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Community.Community_Long_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_RateAL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Community.Starting_Rate_AL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_RateIL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Community.Starting_Rate_IL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOUT_RateMC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Community.Starting_Rate_MC__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Does the community have any AL rooms?</description>
        <name>Add_Care_Level_AL</name>
        <label>Add Care Level - AL</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Add_Care_Level_MC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No AL</defaultConnectorLabel>
        <rules>
            <name>Add_AL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_Community.Starting_Rate_AL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_AL</targetReference>
            </connector>
            <label>Add AL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the community have any IL rooms?</description>
        <name>Add_Care_Level_IL</name>
        <label>Add Care Level - IL</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Add_Care_Level_AL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IL</defaultConnectorLabel>
        <rules>
            <name>Add_IL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_Community.Starting_Rate_IL__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_IL</targetReference>
            </connector>
            <label>Add IL</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the community have any MC rooms?</description>
        <name>Add_Care_Level_MC</name>
        <label>Add Care Level - MC</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Store_Community_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No MC</defaultConnectorLabel>
        <rules>
            <name>Add_MC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_Community.Starting_Rate_MC__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_MC</targetReference>
            </connector>
            <label>Add MC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Community_Found</name>
        <label>Community Found</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Generic_Community_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_Community_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCommunityID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Care_Level_IL</targetReference>
            </connector>
            <label>Yes - Community Found</label>
        </rules>
    </decisions>
    <description>Use the Community Code that is now being passed in from the Script to lookup the Community record to get fees and available living arrangements. This REPLACES the original Flow that needed to loop through to find a matching URL tag.</description>
    <environments>Default</environments>
    <interviewLabel>Chatbot - Lookup Community By Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatbot - Lookup Community By Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Community</name>
        <label>Load Community</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Community_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCommunityCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Community__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_Community</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCommunityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCommunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCommunityURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOUT_CommunityLongName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>List of the Levels of Care supported by this Community, passed back to a ChatBot. This is calculated based on the number of Rooms of each care type that are available within the Community.</description>
        <name>varOUT_LevelOfCareList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOUT_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOUT_Rate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOUT_RateAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Basic Studio IL Monthly Rate</description>
        <name>varOUT_RateIL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOUT_RateMC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
