flows/HC_Account_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Set_Home_Phone_Preferred</name>
        <label>Set Home Phone Preferred</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Home_Phone_When_Phone_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_HomePhone_Preferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetHomePhonePreferred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Preferred_Phone_to_Home</targetReference>
            </connector>
            <label>Set Home Phone Preferred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Home_Phone_When_Phone_Changed</name>
        <label>Set Home Phone When Phone Changed</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Set_Main_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Home_Phone_WhenPhone_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetHomePhoneWhenPhoneChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Homw_Phone</targetReference>
            </connector>
            <label>Set Home Phone When Phone Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Main_Phone</name>
        <label>Set Main Phone</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Set_Mobile_When_Phone_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_MainPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetMainPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Main_Phone</targetReference>
            </connector>
            <label>Set Main Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Mobile_Preferred</name>
        <label>Set Mobile Preferred</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SetMobile_Preferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetMobilePreferred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Preferred_Phone_to_Mobile</targetReference>
            </connector>
            <label>Set Mobile Preferred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Mobile_When_Phone_Changed</name>
        <label>Set Mobile When Phone Changed</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Set_Work_Phone_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Mobile_WhenPhone_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetMobileWhenPhoneChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Mobile_with_Phone</targetReference>
            </connector>
            <label>Set Mobile When Phone Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Work_Phone_Preferred</name>
        <label>Set Work Phone Preferred</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Set_Work_Phone_When_Phone_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_WorkPhone_Preferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetWorkPhonePreferred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Preferred_Phone_to_Work</targetReference>
            </connector>
            <label>Set Work Phone Preferred</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Work_Phone_When_Phone_Changed</name>
        <label>Set Work Phone When Phone Changed</label>
        <locationX>182</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Set_Mobile_Preferred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_WorkPhone_When_Phone_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetWorkPhoneWhenPhoneChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Work_Phone_to_Phone</targetReference>
            </connector>
            <label>Set Work Phone When Phone Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fSetHomePhonePreferred</name>
        <dataType>Boolean</dataType>
        <expression>(((ISNEW() || ISCHANGED({!$Record.PersonHomePhone}) || ISCHANGED ({!$Record.Work_Phone__pc}) || ISCHANGED ({!$Record.PersonMobilePhone})) &amp;&amp; NOT(ISBLANK({!$Record.PersonHomePhone}))) &amp;&amp; ( ISBLANK(TEXT ( {!$Record.Preferred_Phone__pc} ) ) || ISBLANK({!$Record.Work_Phone__pc}) &amp;&amp; ISBLANK({!$Record.PersonMobilePhone}) )) &amp;&amp; {!$Record.IsPersonAccount}</expression>
    </formulas>
    <formulas>
        <name>fSetHomePhoneWhenPhoneChanged</name>
        <dataType>Boolean</dataType>
        <expression>( (ISNEW() || ISCHANGED( {!$Record.Phone} )) &amp;&amp; NOT(ISBLANK({!$Record.Phone}) ) &amp;&amp; ( ( ISBLANK(TEXT({!$Record.Preferred_Phone__pc}) ) || ISPICKVAL({!$Record.Preferred_Phone__pc}, &apos;Home&apos;) ) ) &amp;&amp; ( {!$Record.Phone} != {!$Record.PersonHomePhone} || ISBLANK({!$Record.PersonHomePhone}) ) ) &amp;&amp; {!$Record.IsPersonAccount}</expression>
    </formulas>
    <formulas>
        <name>fSetMainPhone</name>
        <dataType>Boolean</dataType>
        <expression>(NOT (ISCHANGED ({!$Record.Phone})) &amp;&amp; (ISNEW() || ISCHANGED( {!$Record.PersonHomePhone} ) || ISCHANGED( {!$Record.Work_Phone__pc} ) || ISCHANGED( {!$Record.PersonMobilePhone} ) || ISCHANGED( {!$Record.Preferred_Phone__pc} ) ) &amp;&amp; ( NOT(ISBLANK({!$Record.PersonHomePhone})) || NOT(ISBLANK({!$Record.Work_Phone__pc})) || NOT(ISBLANK({!$Record.PersonMobilePhone})) )) &amp;&amp; {!$Record.IsPersonAccount}</expression>
    </formulas>
    <formulas>
        <name>fSetMobilePreferred</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW() || ISCHANGED({!$Record.PersonHomePhone}) || ISCHANGED ({!$Record.Work_Phone__pc}) || ISCHANGED ({!$Record.PersonMobilePhone})) &amp;&amp; NOT(ISBLANK({!$Record.PersonMobilePhone}))) &amp;&amp; (( ISBLANK({!$Record.PersonHomePhone}) &amp;&amp; ISBLANK(TEXT ( {!$Record.Preferred_Phone__pc} ) )) || (ISBLANK({!$Record.PersonHomePhone}) &amp;&amp; ISBLANK({!$Record.Work_Phone__pc})) )</expression>
    </formulas>
    <formulas>
        <name>fSetMobileWhenPhoneChanged</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW() || ISCHANGED( {!$Record.Phone} )) &amp;&amp; NOT(ISBLANK({!$Record.Phone})) &amp;&amp; ISPICKVAL({!$Record.Preferred_Phone__pc}, &apos;Mobile&apos;) &amp;&amp; ( {!$Record.Phone} != {!$Record.PersonMobilePhone} || ISBLANK({!$Record.PersonMobilePhone}) )) &amp;&amp; {!$Record.IsPersonAccount}</expression>
    </formulas>
    <formulas>
        <name>fSetWorkPhonePreferred</name>
        <dataType>Boolean</dataType>
        <expression>(((ISNEW() || ISCHANGED({!$Record.PersonHomePhone}) || ISCHANGED ({!$Record.Work_Phone__pc}) || ISCHANGED ({!$Record.PersonMobilePhone})) &amp;&amp; NOT(ISBLANK({!$Record.Work_Phone__pc}))) &amp;&amp; ISBLANK({!$Record.PersonHomePhone}) &amp;&amp; ISBLANK({!$Record.PersonMobilePhone})) &amp;&amp; {!$Record.IsPersonAccount}</expression>
    </formulas>
    <formulas>
        <name>fSetWorkPhoneWhenPhoneChanged</name>
        <dataType>Boolean</dataType>
        <expression>((ISNEW() || ISCHANGED( {!$Record.Phone}) ) &amp;&amp; NOT(ISBLANK({!$Record.Phone})) &amp;&amp; ISPICKVAL({!$Record.Preferred_Phone__pc}, &apos;Work&apos;) &amp;&amp; ( {!$Record.Phone} != {!$Record.Work_Phone__pc} || ISBLANK({!$Record.Work_Phone__pc}) )) &amp;&amp; {!$Record.IsPersonAccount}</expression>
    </formulas>
    <formulas>
        <name>fUpdateMainPhone</name>
        <dataType>String</dataType>
        <expression>IF (
(ISBLANK(TEXT({!$Record.Preferred_Phone__pc})) ||
ISPICKVAL({!$Record.Preferred_Phone__pc}, &apos;Home&apos;)) &amp;&amp; NOT(ISBLANK({!$Record.PersonHomePhone}))
, {!$Record.PersonHomePhone},
IF(
(ISBLANK(TEXT({!$Record.Preferred_Phone__pc})) ||
ISPICKVAL({!$Record.Preferred_Phone__pc}, &apos;Mobile&apos;)) &amp;&amp; NOT(ISBLANK({!$Record.PersonMobilePhone}))
, {!$Record.PersonMobilePhone},


IF(
(ISBLANK(TEXT({!$Record.Preferred_Phone__pc})) ||
ISPICKVAL({!$Record.Preferred_Phone__pc}, &apos;Work&apos;)) &amp;&amp; NOT(ISBLANK({!$Record.Work_Phone__pc}))
, {!$Record.Work_Phone__pc},

if ( NOT(ISBLANK({!$Record.PersonHomePhone})),
{!$Record.PersonHomePhone}, If (NOT(ISBLANK({!$Record.PersonMobilePhone})), {!$Record.PersonMobilePhone}, IF(NOT(ISBLANK({!$Record.Work_Phone__pc})),{!$Record.Work_Phone__pc}, {!$Record.Phone}) ) )

)

)
)</expression>
    </formulas>
    <interviewLabel>HC Account Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HC Account Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Account_Homw_Phone</name>
        <label>Set Account Home Phone with Phone</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Set_PreferredPhone_to_Home</targetReference>
        </connector>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Account_Work_Phone_to_Phone</name>
        <label>Set Account Work Phone to Phone</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Set_Mobile_Preferred</targetReference>
        </connector>
        <inputAssignments>
            <field>Work_Phone__pc</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Preferred_Phone_to_Home</name>
        <label>Set Preferred Phone to Home</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Home_Phone_When_Phone_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Preferred_Phone__pc</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Preferred_Phone_to_Work</name>
        <label>Set Preferred Phone to Work</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Set_Work_Phone_When_Phone_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Preferred_Phone__pc</field>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_PreferredPhone_to_Home</name>
        <label>Set Preferred Phone to Home</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Set_Main_Phone</targetReference>
        </connector>
        <inputAssignments>
            <field>Preferred_Phone__pc</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Main_Phone</name>
        <label>Update Main Phone</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Set_Mobile_When_Phone_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>fUpdateMainPhone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mobile_with_Phone</name>
        <label>Update Mobile with Phone</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Set_Work_Phone_Preferred</targetReference>
        </connector>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Preferred_Phone_to_Mobile</name>
        <label>Update Preferred Phone to Mobile</label>
        <locationX>50</locationX>
        <locationY>2591</locationY>
        <inputAssignments>
            <field>Preferred_Phone__pc</field>
            <value>
                <stringValue>Mobile</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Home_Phone_Preferred</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
