flows/HC_Event_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Set_Event_Activity_Complete_Date</name>
        <label>Set Event Activity Complete Date</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Event_Complete_Date_on_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Event_Activity_CompleteDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetEventActivityCompleteDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Activity_Complete_Date</targetReference>
            </connector>
            <label>Set Event Activity Complete Date</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fSetEventActivityCompleteDate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; NOT({!$Record.Is_Pending__c}) &amp;&amp; ISCHANGED( {!$Record.Is_Pending__c})</expression>
    </formulas>
    <interviewLabel>HC Event Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HC Event Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Event_Complete_Date_on_Create</name>
        <label>Set Event Complete Date on Create</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Set_Subject_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Pending__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Activity_Complete_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activity_Complete_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Subject_Event</name>
        <label>Set Subject Event</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Activity_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Activity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Activity_Complete_Date</name>
        <label>Update Activity Complete Date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Event_Complete_Date_on_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Event_Activity_Complete_Date</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
