flows/HC_Opportunity_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Opportunity_Name</name>
        <label>Opportunity Name</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpportunityName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fOpportunityName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Name_Update</targetReference>
            </connector>
            <label>Opportunity Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type_Assignment</name>
        <label>Opportunity Record Type Assignment</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Senior_Living</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Senior_Living__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Senior_Living_Recordtypeid</targetReference>
            </connector>
            <label>Senior Living</label>
        </rules>
        <rules>
            <name>Skilled_Nursing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Skilled_Nursing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Skilled_Nursing_Recordtypeid</targetReference>
            </connector>
            <label>Skilled Nursing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fOppNameUpdate</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Opportunity_Name_Formula__c}, 120)</expression>
    </formulas>
    <formulas>
        <name>fOpportunityName</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Name}&lt;&gt;Left({!$Record.Opportunity_Name_Formula__c}, 120)</expression>
    </formulas>
    <interviewLabel>HC Opportunity Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HC Opportunity Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Senior_Living_Recordtypeid</name>
        <label>Get Senior Living Recordtypeid</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Record_type_to_Senior_Living</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Senior_Living</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skilled_Nursing_Recordtypeid</name>
        <label>Get Skilled Nursing Recordtypeid</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updated_Opportunity_Record_type_Skilled_Nursing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Skilled_Nursing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opp_Name_Update</name>
        <label>Opp Name Update</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fOppNameUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record_type_to_Senior_Living</name>
        <label>Update Opportunity Record type to Senior Living</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Opportunity_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Senior_Living_Recordtypeid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Opportunity_Record_type_Skilled_Nursing</name>
        <label>Updated Opportunity Record type Skilled Nursing</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Opportunity_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Skilled_Nursing_Recordtypeid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Record_Type_Assignment</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
