flows/HC_Task_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Set_Task_Complete_Date_on_Update</name>
        <label>Set Task Complete Date on Update</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Set_Status_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Task_Complete_Date_onUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fSetTaskCompleteDateonUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Complete_Date_is_TODAY</targetReference>
            </connector>
            <label>Set Task Complete Date on Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fSetTaskCompleteDateonUpdate</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISNEW()) &amp;&amp; NOT({!$Record.Is_Pending__c}) &amp;&amp; ISCHANGED( {!$Record.Is_Pending__c})</expression>
    </formulas>
    <interviewLabel>HC Task Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HC Task Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Activity_Complete_Date_is_TODAY</name>
        <label>Activity Complete Date is TODAY</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Set_Status_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_Complete</name>
        <label>Set Status Complete</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Set_Subject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Result_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Subject</name>
        <label>Set Subject</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Activity_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Activity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Task_Complete_Date_On_Create</name>
        <label>Set Task Complete Date On Create</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Set_Task_Complete_Date_on_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Pending__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Activity_Complete_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activity_Complete_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Task_Complete_Date_On_Create</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
