flows/Set_Opp_Close_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Calc_Close_Date</name>
        <label>Calc Close Date</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>OppCloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcCloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_10_Years</name>
        <label>Set 10 Years</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>OppCloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TenYearsFromToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Close_Date_Expected_MovIn_Date</name>
        <label>Set Close Date Expected MovIn Date</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>OppCloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Expected_Move_In_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Close_Date_Lost</name>
        <label>Set Close Date Lost</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>OppCloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lost_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Close_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Close_Date_MoveIn</name>
        <label>Set Close Date MoveIn</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>OppCloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Move_In_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Close_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Close_Date_is_Null</name>
        <label>Close Date is Null</label>
        <locationX>1238</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Set_Close_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CloseDateNullYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_10_Years</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expected_MoveIn_Date_Present</name>
        <label>Expected MoveIn Date Present</label>
        <locationX>809</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Is_Score_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExpMvInYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_Move_In_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Close_Date_Expected_MovIn_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Score_Changed</name>
        <label>Is Score Changed</label>
        <locationX>1040</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Close_Date_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>StatusChagedYes</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calc_Close_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lost_Date_Present</name>
        <label>Lost Date Present</label>
        <locationX>561</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Expected_MoveIn_Date_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LostYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lost_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Close_Date_Lost</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_In_Date_Present</name>
        <label>Move In Date Present</label>
        <locationX>305</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Lost_Date_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MoveInYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Move_In_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Close_Date_MoveIn</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalcCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + (IF(ISPICKVAL({!$Record.Lead_Score__c},&apos;Hot Lead&apos;),30,
IF(ISPICKVAL({!$Record.Lead_Score__c},&apos;Warm Lead&apos;),60,
IF(ISPICKVAL({!$Record.Lead_Score__c},&apos;Cool Lead&apos;),90,90) ) ) )</expression>
    </formulas>
    <formulas>
        <name>TenYearsFromToday</name>
        <dataType>Date</dataType>
        <expression>IF(
  AND(
    MONTH( {!$Flow.CurrentDate} ) = 2,
    DAY( {!$Flow.CurrentDate} ) = 29,
    NOT( 
      OR( 
        MOD( YEAR( {!$Flow.CurrentDate} ) + 10, 400 ) = 0, 
        AND( 
          MOD( YEAR( {!$Flow.CurrentDate} ) + 10, 4 ) = 0,
          MOD( YEAR( {!$Flow.CurrentDate} ) + 10, 100 ) != 0
        )
      )
    ) 
  ),
  DATE( YEAR( {!$Flow.CurrentDate} ) + 10, 3, 1),
  DATE( YEAR( {!$Flow.CurrentDate} ) + 10, MONTH( {!$Flow.CurrentDate} ), DAY( {!$Flow.CurrentDate} ) )
)</expression>
    </formulas>
    <interviewLabel>Set Opp Close Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Opp Close Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Close_Date</name>
        <label>Set Close Date</label>
        <locationX>305</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>179</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Move_In_Date_Present</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Move_In_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expected_Move_In_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lost_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Score__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CloseDate</elementReference>
        </value>
    </variables>
</Flow>
